body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

* {
  text-decoration: none;
  list-style-type: none;
}

textarea {
  resize: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* studio */

/* HEADER ---------------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 92px;
}

.logo-color-span {
  color: #2196f3;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding-bottom: 30px;
}

.site-nav::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav:hover::after,
.site-nav:focus::after,
.site-nav.active::after {
  opacity: 1;
}

.site-nav:hover,
.site-nav:focus {
  color: #2196f3;
}

.site-nav.active {
  color: #2196f3;
}

.site-list:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:focus,
.contact-list-link:hover {
  color: #2196f3;
}
.contact-list-link:hover .contact-list-icon,
.contact-list-link:focus .contact-list-icon {
  fill: #2196f3;
}

/* END HEADER -------------------------*/

/* HERO---------------------- */

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.section-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img10.jpg");
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 210px;
}

.hero {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  left: 0px;
  top: 80px;
  margin-bottom: 30px;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  min-width: 200px;
  padding: 10px 12px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
}

.button-hero:hover {
  background-color: #188ce8;
}

/* END HERO--------------------- */

/* ABOUT------------------------ */

.icon-list {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.about {
  padding-top: 94px;
}

.about-list:not(:last-child) {
  margin-right: 30px;
}

.feature-list {
  display: flex;
}

.title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  width: 270px;
  padding-top: 30px;
}

.title-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
/* EXAMPLES------------------------- */

.examples {
  position: relative;
}

.examples-gallery {
  display: flex;
  justify-content: space-between;
}

.subject {
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

.item {
  margin-bottom: 50px;
}

.example-gallery {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
}

.examples-overlay {
  position: relative;
}

.examples-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 205px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* EMPLOYEES ----------------------------*/
.employees-section {
  background: #f5f4fa;
}

.employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.employees-position {
  text-align: center;
}

.employees-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #fff;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

/* END EMPLOYEES ---------------------------*/

/* CLIENTS --------------------------- */

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clietns-list {
  display: flex;
  justify-content: space-between;
}
/* END CLIETNS --------------------------- */

/* FOOTER */
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-container {
  margin-left: 70px;
  width: 206px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #2196f3;
}

.footer-list-icon {
  fill: #ffffff;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.geolocation {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-link-mailto {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:focus,
.footer-link:hover {
  color: #2196f3;
}

.form-field-footer {
  margin-left: 93px;
}

.form-field-footer label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.form-field-footer input {
  width: 358px;
  height: 50px;
  display: flex;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 15px;
  color: #ffffff;
}

.btn-subscribe {
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  font-weight: 700;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: #ffffff;
  fill: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-left: 12px;
}

.btn-subscribe:hover {
  background-color: #188ce8;
}

.footer-form-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.btn-subscribe-icon {
  margin-left: 10px;
}

/* END FOOTER--------------------------- */

/* -----portfolio------- */
.hidden {
  opacity: 0;
  display: none;
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-border {
  border: 1px solid #ececec;
}

.main-button {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-list:not(:last-child) {
  margin-right: 8px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:focus,
.main-button:hover {
  background-color: #2196f3;
  color: #fff;
}

.main-button-list:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.portfolio-list {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-content-wrapper {
  background-color: #fff;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-cards {
  margin-top: 50px;
}

.container-portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: #2196f3e5;
}

.portfolio-card:hover .product-overlay {
  transform: translateY(0%);
}
.portfolio-card-link:focus .product-overlay {
  transform: translateY(0%);
}

.container-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-height: 581px;
  min-width: 528px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
  width: 11px;
  height: 11px;
  color: #000000;
}

.modal-button:hover,
.modal-button:focus {
  fill: #2196f3;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;

  color: #212121;
}

.modal-form {
  margin-top: 12px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.contact-form-input:focus + .contact-form-icon {
  fill: #2196f3;
}

.span-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  border-color: #2196f3;
  outline: none;
}

.contact-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;

  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 10px;
  letter-spacing: 0.03em;
}

.contact-form-checkbox {
  background-origin: border-box;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid #2196f3;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/checkbox.svg");
  background-size: cover;
  background-position: center;
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  content: "";
  cursor: pointer;
  margin-right: 7px;
  border-radius: 2px;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.contact-form-submit:hover {
  background-color: #188ce8;
}

.link-treaty {
  color: #188ce8;
  text-decoration: underline;
}
/* END MODAL */
