.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-color-span {
  color: #2196f3;
}

.header-logo {
  color: #212121;
  margin-right: 92px;
}

.footer-logo {
  color: #ffffff;
  margin-bottom: 20px;
}
